[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ade0043
[access "refs/for/refs/*"]
	read = group user/ade0043
	push = group user/ade0043
	label-Code-Review = -2..+2 group user/ade0043
	label-Verified = -1..+1 group user/ade0043
	rebase = group user/ade0043
	removeReviewer = group user/ade0043
	submit = group user/ade0043
[access "refs/heads/*"]
	read = group user/ade0043
	create = group user/ade0043
	push = +force group user/ade0043
	pushMerge = group user/ade0043
[access "refs/tags/*"]
	push = group user/ade0043
	push = +force group user/ade0043
